@{
ViewBag.Title = "Index";
Layout = "~/Areas/Portal/Views/Shared/PortalLayout.cshtml";
}
<h2 class="alert_info">Welcome to XcRm!if there is any question,please contact us at JaylonQi@outlook.com.</h2>