@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Logon</title>
    <script src="~/Scripts/jquery-1.8.2.js"></script>
    <script>
        $(function () {//页面加载完成后根据判定结果跳转页面
            //alert($("a").attr("href"));
            window.location.href = $("a").attr("href");
        });

    </script>
</head>
<body>  
    @{CRM.Models.tb_Users user= Session["currentUser"] as CRM.Models.tb_Users;}
    <div>
        登录成功！跳转中......
        @if (user.tb_UserType.UserType == "admin")
        {
            @Html.ActionLink("如果未跳转，请点击", "Index", "Home", new { area = "Admin" }, null)
        }else
        { 
            @Html.ActionLink("如果未跳转，请点击", "Index", "Home", new { area = "Portal" }, null)
        }
        
    </div>
</body>
</html>
