@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div>
        @ViewData["Message"] <a href="@ViewData["GoBack"]">返回</a>
    </div>
</body>
</html>
